/tmp/
.Rhistory
.DS_Store
__MACOSX
.vscode
eoo_aoo_files
imbalanced_data
imbalanced_data_files
imbalanced_data_part1_files
strucutural_equation_modelling_files
.Rprofile
renv.lock
renv/.gitignore
renv/activate.R
renv/settings.json
notebooks/Cycas_megacarpa_eoo.csv
notebooks/eoo_aoo_files
notebooks/Cycas_megacarpa_eoo.zip
notebooks/eoo_aoo.html
notebooks/__MACOSX/._Cycas_megacarpa_eoo.csv
notebooks/eoo_development.r
notebooks/.Renviron
